= table.column :id
= table.column :email
= table.column :active
= table.column :confirmed
= table.column :approved
/ = table.column :sign_in_count
/ = table.column(:last_sign_in_at) { |user| I18n.l(user.last_sign_in_at, format: :short) if user.last_sign_in_at.present? }
= table.timestamps